/* font style for body */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/image);
}

/* caption for modal image*/
#caption {
  display: none;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 100px;
}
/* background for modal image */
.modal {
  display: none; /* hidden */
  position: fixed;
  z-index: 1; /* put modal on top */
  padding-top: 50px;
  /* left: 0;
  top: 0; */
  width: 33%;
  height: 60%;
  /* scroll if needed */
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

/* modal image */
.modal-content {
  margin: auto;
  display: block;
  width: 60%;
  max-width: 700px;
}

/* close button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

/* more close button properties */
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% image width on smaller screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* survey done button */
#add-button {
  background-color: aqua;
}

/* style card header and jumbotron */
.card-header, .jumbotron{
  background-color: coral;
}

/* style card body for survey */
.card-body {
  background-color: rgb(243, 123, 187);
}

/* style links */
.links {
  background-color: wheat;
}

a {
  color: red;
}

/* style forms */
form {
  background-color: yellow;
}